@model Project_2.Models.NewsVm

@{
    ViewBag.Title = "Add news";
}

@using (Html.BeginForm("AddNews", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
<h2>Dodaj vijest</h2>

<div>
<div>
Naslov: @Html.TextBoxFor(x => x.article.headline)
</div>

<div>
Autor: @Html.TextBoxFor(x => x.article.author)
</div>

<div>
Slika: <input type="file" name="file" id="file" style="width: 100%;" />
</div>

<div>
Tekst članka: @Html.TextAreaFor(x => x.article.text)
</div>

<div>
<button type="submit">Unesi</button>
</div>

</div>
}

